.right {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    padding: 40px;
    overflow: auto;

    & .card{
        z-index: 1;
        width: 100%;
        min-width: 100px;
        height: 100%;
        min-height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-decoration: none;
        color: black;
        &:hover{
            transform: scale(1.07);
        }
        & img{
            height: 50%;
            width: 50%;
            object-fit: contain;
        }
    }
}