@import "../../scss/globale.scss";

main {
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    background-position: center top;
    background-color: rgb(252, 248, 254);
    background-image: url("./../../images/pricing-wave.webp");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px 10px;
    transition: all .5s;
    & .left-container {
        padding: 5px;
        width: fit-content;
        transition: .5s ease-in-out;
        & .left-content-container {
            height: 100%;
            width: fit-content;
            transition: all .5s;
            box-shadow: rgba(69, 42, 124, 0.298) 0px 10px 30px;
            backdrop-filter: blur(60px);
            border-radius: 10px;
            display: flex;
            text-align: center;
            grid-column: 1;
            padding: 10px;  
            transition: background-color .8s, color .8s;
            transition: width .5s ease-in-out;
            }
    }

    & .right-container {
        padding: 5px;
        transition: all .5s;
        & .right-content-container {
            height: 100%;
            box-shadow: rgba(69, 42, 124, 0.127) 0px 10px 30px;
            backdrop-filter: blur(60px);
            border-radius: 10px;
            display: flex;
            text-align: center;
            grid-column: 1;
            padding: 10px;
            transition: background-color .8s, color .8s;

        }
    }
}

.active{
    background: rgba(5, 0, 14, 0.896);
    height: 100vh;
    background-position: center top;
    background-image: url("./../../images/pricing-wave.webp");
    color: white;
    transition: background-color .8s, color .1s;
    & .left-container {
        & .left-content-container {
            background-color: rgba(71, 65, 74, 0.579);
            box-shadow: rgba(94, 65, 151, 0.589) 0px 10px 30px;
            }
    }
    & .right-container {
        & .right-content-container {
            background-color: rgba(71, 65, 74, 0.579);
            box-shadow: rgba(94, 65, 151, 0.501) 0px 10px 30px;
        }
    }
    & .line{
        background-color: white;
    }


   & .menu-container{

        & .profile-container, .menu-list-conainer{

            & .profile{

                & .profile-image{
                    background-color: rgba(30, 28, 28, 0.19);
                    border: 2px solid rgb(16, 1, 31);
                    transition: background-color .5s;
                } 
            }
    
            & .menu-list{
                & li{
                    color:white;
                }
                & li:hover, .selected{
                    background-color: rgba(5, 0, 11, 0.786);
                }
            }
    
           & .line{
                background-color: rgba(255, 255, 255, 0.434);
           }
        }
        & .menu-bottom-container{


            & .contact-btn{
                color: white;
                &:hover{
                    background-color: rgba(5, 0, 11, 0.786);
                }
            }
        }
    }
}