.nav {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 2px 20px;
  height: 50px !important;
  z-index: 2222222222;
  position: relative;
  
  & .menu-container{
    position: relative;
    top: 5px;
    right: 90px;
    float: right;
    display: grid;
    height: 40px;
    width: fit-content;
    gap: 55px;
    grid-template-columns: 100px 100px;
 

  & .menu {
    z-index: 2222;
    right: 10px;
    top: 10px;
    min-width: 150px;
    list-style-type: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    & p {
      padding: 5px;
      height: 30px;
      width: 150px;
    }

    & div {
      height: 0px;
      min-width: 270px;
      padding: 0px;
      overflow: hidden;
      transition: all .3s;
      margin-top: 15px;
      z-index: 0;
      border-radius: 7px;
      & li {
        width: 100%;
        padding: 5px;
        text-align: start;
        align-items: center;

        & a {
          cursor: pointer;
          text-decoration: none;
          color: black;
          padding: 5px;
          width: 100%;
        }

        &:hover {
          background-color: hsl(212, 100%, 50%);
          border-radius: 5px;
          & a{
            color: white;
          }
        }
      }
    }

    &:hover {
      & p {
        background-color: rgb(235, 235, 235);
        border-radius: 5px;
      }

      & div {
        width: fit-content;
        padding: 10px;
        overflow: auto;
        height: fit-content;
        transition: all .5s;
        animation: transForm 500ms ease-in-out 100ms linear;
      }
    }

    @keyframes transForm {
      0% {
        height: 100px;
        z-index: 0;
      }

      50% {
        height: 50px;
        z-index: 0;
      }

      100% {
        height: 0px;
        z-index: 0;
      }

    }
  }
  }
}