.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    place-items: center;
    padding: 2% 5%;
    gap: 15px;
    width: 100%!important;
    max-width: 100%;

    & .top-container{
        display: flex !important;
        flex-direction: row;
        justify-content: space-between !important;
        width: 100%;
        height: 50px !important;
        min-height: fit-content !important;
        flex-wrap: wrap;

        & form {
            position: absolute;
            height: 20px;
            display: flex;
            gap: 10px;
            & input {
                height: 30px;
                border: none;
                border-radius: 50px;
                padding: 2px 15px;
                box-shadow: 4px 10px 15px -3px rgba(0, 0, 0, 0.151);
                background-color: rgba(255, 255, 255, 0.486);
            }

            & button {
                height: 30px;
                border: none;
                border-radius: 50px;
                padding: 2px 15px;
                background-color: white;
                box-shadow: 4px 10px 15px -3px rgba(0,0,0,0.24);
                background-color: rgba(255, 255, 255, 0.486);
                cursor: pointer;

            }
        }
        & .switch{
            position: absolute;
            right: 6%;
            
        }
    }


    & .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: 100%;
        height: 280px;
        padding: 10px;
        margin: o auto;

        & .current-weather-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 10px;

            & .current-weather{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 10px;
                align-items: start;

                & h1{
                    margin-bottom: 20%;
                    font-size: 40px;
                }
            }
            & img {
                width: 30%;
            }
        }
    }

    & .weather-container {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 100%;
        height: 40%;
        gap: 30px 20px;
        padding: 10px;

        & ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
            width: 100%;
            height: 100%;
            text-decoration: none;
            list-style: none;

            & li {
                flex: 1;
                height: 100%;

                & div {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    background-color: rgba(232, 246, 252, 0.39);
                    border-radius: 10px;
                    height: 80px;
                    min-height: 25vh;
                    width: 100%;
                    padding: 15px;
                    -webkit-box-shadow: 1px 35px 53px -29px rgba(0, 0, 0, 0.582);
                    -moz-box-shadow: 1px 35px 53px -29px rgba(0, 0, 0, 0.582);
                    box-shadow: 1px 35px 53px -29px rgba(0, 0, 0, 0.582);

                    & img {
                        width: 50%;
                        max-width: 120px;
                    }
                }
            }

        }

    }

}