.weather-main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    place-items: center;
    padding: 5px;
    gap: 5px;
    width: 100%;
    max-width: 100%;

    & .top-container{
        display: flex ;
        flex-direction: row;
        justify-content: space-between ;
        width: 100%;
        height: 50px ;
        min-height: fit-content;
        flex-wrap: wrap;

        & form {
            height: fit-content;
            position: absolute;
            display: flex;
            gap: 10px;
            margin: 10px;
            height: fit-content;
            width: fit-content;
            & input {
                height: 30px;
                border: 1px solid lightgray;
                max-width: 100px;
                border-radius: 5px;
                padding: 2px 15px;
            }

            & button {
                height: 30px;
                border: none;
                border-radius: 5px;
                padding: 2px 15px;
                background-color: hsl(212, 100%, 50%);
                color: white;
                cursor: pointer;

            }
        }
    }


    & .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: 100%;
        height: 100px;
        padding: 10px;
        margin: 0 auto;

        

        & .current-weather-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 10px;
            font-size: 12px;

            & .current-weather{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 10px;
                align-items: start;

                & h1{
                    margin-bottom: 20%;
                    font-size: 10px;
                }
            }
            & img {
                width: 30%;
            }
        }
    }

    & .weather-container {
        z-index: 111;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 100%;
        gap: 30px 20px;
        padding: 10px;

        & h2{
            font-size: 13px;
            padding-left: 10px;
        }

        & ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
            row-gap: 10px;
            height: fit-content;
            text-decoration: none;
            list-style: none;

            & li {
                flex: 1;
                & h3{
                    font-size: 10px;
                }
                & p{
                    font-size: 10px;
                }

                & .day {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 10px;
                    height: 90px;
                    padding: 5px;
                    width: 65px;
                

                    & img {
                        width: 80%;
                        max-width: 50px;
                    }
                }
            }

        }

    }

}